body{
background-color:lightblue ;
}
.main{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 355px;
  height: 530px;
  border-radius: 15px;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
}
img{
  width: 91%;
  height: 62%;
  border-radius: 30px;
};
.heading{
  text-align: center;
  width: 15px;
}
.main h2{
  width: 276px;
  text-align:center;
}
.main p{
  width: 338px;
  opacity: 0.8;
  margin-top:0;
}
